{% extends "base.html" %}
{% block nexttoicon %}Netpicket{% endblock %}

{% block page_content %}
<div class="container">
  <ul class="nav nav-tabs">
    <li role="presentation"
        {% if section == 'timeline' %}
        class="active"
        {% endif %}
        >
      <a href="{{url_for('dashboard', section='timeline')}}">
        <span><i class="fa fa-clock-o"></i></span> Timeline</a>
    </li>
    <li role="presentation"
        {% if section == 'alerts' %}
        class="active"
        {% endif %}
        >
      <a href="{{url_for('dashboard', section='alerts')}}">
        <span><i class="fa fa-exclamation-circle"></i></span>
        Alerts</a>
    </li>
    <li role="presentation"
        {% if section == 'networks' %}
        class="active"
        {% endif %}
        >
      <a href="{{url_for('dashboard', section='networks')}}">
        <span><i class="fa fa-wifi"></i></span> My networks
      </a>
    </li>
    <li role="presentation"
        {% if section == 'wblists' %}
        class="active"
        {% endif %}
        >
      <a href="{{url_for('dashboard', section='wblists')}}">
        <span><i class="fa fa-file"></i></span> White/Black lists
      </a>
    </li>
    <li role="presentation"
        {% if section == 'scans' %}
        class="active"
        {% endif %}
        >
      <a href="{{url_for('dashboard', section='scans')}}">
        <span><i class="fa fa-flash"></i></span> Scans
      </a>
    </li>
    <li role="presentation"
        {% if section == 'stats' %}
        class="active"
        {% endif %}
        >
      <a href="{{url_for('dashboard', section='stats')}}">
        <span><i class="fa fa-bar-chart"></i></span> Stats
      </a>
    </li>
  </ul>
  <!-- end menu -->

  
  <div class="col-md-12 col-sm-12 col-xs-12">
    {% if section == 'timeline' %}
    <!-- TIMELINE -->
    <h4><small><strong>UPDATED AT: </strong>
        {% if events.keys()|length > 0 %}
        <strong id="updated-ago">{{events[events.keys()[0]][0]['day']
          ~ ' ' ~ events[events.keys()[0]][0]['time']}}</strong>
        {% else %}
        <strong id="updated-ago">...</strong>
        {% endif %}
    </small></h4>

    <br>
    <dl class="dl-horizontal" id="timeline-updates">
      {% if events.keys()|length > 0 %}
      {% for date in events.keys() %}
      <dt id="{{date}}">{{events[date][0]['day']}}</dt>
      <dd id="{{date ~ '-dd'}}">
        <table class="table">
          <tbody id="{{date ~ '-table'}}">
            {% for even in events[date] %}
            <tr>
              <td>{{even['time']}}</td>
              {% if even['priority'] == 'G' %}
              <td class="text-success"><i class="fa fa-smile-o"></i>
                {% elif even['priority'] == 'O' %}
              <td class="text-warning"><i class="fa fa-exclamation-circle"></i>
                {% elif even['priority'] == 'R' %}
              <td class="text-danger"><i class="fa fa-warning"></i>
                {% else %} <!-- B and default -->
              <td class="text-info"><i class="fa fa-info-circle"></i>
                {% endif %}
                {{even['desc']}}
              </td>
            </tr>
            {% endfor %}
            {% endfor %}
          <tbody>
        </table>
      </dd>
      {% endif %}
    </dl>
    <!-- END TIMELINE -->
    {% elif section == 'networks' %}
    <br>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span><i class="fa fa-wifi"></i></span>
          <strong>Network name</strong>
        </div>
        <div class="panel-body">
          <h5><strong>General</strong></h5>
          <table class="table">
            <tbody>
              <tr>
                <td>Interface</td>
                <td></td>
              </tr>
              <tr>
                <td>Hardware Address</td>
                <td></td>
              </tr>
              <tr>
                <td>Speed</td>
                <td></td>
              </tr>
              <tr>
                <td>Security</td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <hr>
          <h5><strong>Buoy IPv4 info</strong></h5>
          <table class="table">
            <tbody>
              <tr>
                <td>Address</td>
                <td></td>
              </tr>
              <tr>
                <td>Subnet Mask</td>
                <td></td>
              </tr>
              <tr>
                <td>Default Route</td>
                <td></td>
              </tr>
              <tr>
                <td>Primary DNS</td>
                <td></td>
              </tr>
              <tr>
                <td>Secondary DNS</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">
          <div class="pull-right">
            <button class="btn btn-default"
                    type="button">
              <span class="glyphicon glyphicon-repeat"></span> Rescan
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      {% elif section == 'alerts' %}
      <div class="col-md-12">
        <br>
        <div class="panel panel-danger">
          <div class="panel-heading"><i class="fa fa-warning"></i>
            <strong>Unknown host detected</strong>
          </div>
          <div class="panel-body">
            <div class="col-md-6">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr><td><strong>Hostname</strong></td><td>H4x0r</td></tr>
                    <tr><td><strong>IP</strong></td><td>192.168.1.25</td></tr>
                    <tr><td><strong>MAC</strong></td><td>00:0a:95:9d:68:16</td></tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-6">
              
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="panel panel-warning">
          <div class="panel-heading"><i class="fa fa-exclamation-circle"></i>
            <strong>Vulnerable host</strong>
          </div>
          <div class="panel-body">
            <div class="col-md-6">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr><td><strong>Hostname</strong></td><td>XPS</td></tr>
                    <tr><td><strong>IP</strong></td><td>192.168.1.36</td></tr>
                    <tr><td><strong>MAC</strong></td><td>0b:0a:95:9d:68:14</td></tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-6">
              <a
                 href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-100001">
                CVE-2014-100001</a> Remote code injection.
            </div>
          </div>
        </div>
      </div>
    </div>
    {% elif section == 'wblists' %}
    <br>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span><i class="fa fa-file-text-o"></i></span>
          <strong>White list</strong>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td><strong>Hostname</strong></td>
                  <td><strong>MAC</strong></td>
                  <td><strong>Address</strong></td>
                  <td><strong>Network</strong></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span><i class="fa fa-file-text"></i></span>
          <strong>Black list</strong>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td><strong>Hostname</strong></td>
                  <td><strong>MAC</strong></td>
                  <td><strong>Address</strong></td>
                  <td><strong>Network</strong></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {% elif section == 'scans' %}
    {% elif section == 'stats' %}
    {% endif %}
  </div>
</div>
{% endblock %}
