<!doctype html>
{% extends "base.html" %}
{% block nexttoicon %}Netpicket{% endblock %}

{% block page_content %}

<div class="row">
  <br>
  <!-- menu -->
  <div class="col-md-3 col-sm-3 col-xs-12">
    <div style="margin 20px">
      <div class="panel panel-default">
		<div class="panel-heading">Menu</div>
		<!-- List group -->
		<div class="list-group">
          <a type="button" class="list-group-item btn-link" role="button"
             href="{{url_for('dashboard', section='timeline')}}">
            Timeline
            <span class="badge"><i class="fa fa-home"></i></span>
          </a>
          <a type="button" class="list-group-item btn-link" role="button"
             href="{{url_for('dashboard', section='networks')}}">
            My networks
            <span class="badge">2</span>
          </a>
          <a type="button" class="list-group-item btn-link" role="button"
             href="{{url_for('dashboard', section='alerts')}}">
            Alerts
            <span class="badge">2</span>
          </a>
		</div>
	  </div>
    </div>
  </div><!-- end menu -->

  
  <div class="col-md-9 col-sm-9 col-xs-12">
    {% if section == 'timeline' %}
    <!-- TIMELINE -->
    <h4><small><strong>UPDATED 15 MINUTES AGO</strong></small></h4><br>
    <dl class="dl-horizontal">
      
      <dt>Wed 14 Oct</dt>
      <dd>
        <table class="table">
          <tbody>
            <tr>
              <td>15:00</td>
              <td class="text-success"><i class="fa fa-smile-o"></i> No alerts</td>
            </tr>
            <tr>
              <td>10:00</td>
              <td class="text-danger"><i class="fa fa-warning"></i>
                Unkwnown host detected</td>
            </tr>
            <tr>
              <td>09:00</td>
              <td class="text-warning"><i class="fa fa-exclamation-circle"></i>
                Vulnerable host</td>
            </tr>
          </tbody>
        </table>
      </dd>
      <dt>Thu 15 Oct</dt>
      <dd>
        <table class="table">
          <tbody>
            <tr>
              <td>15:00</td>
              <td class="text-success"><i class="fa fa-smile-o"></i> No alerts</td>
            </tr>
            <tr>
              <td>10:00</td>
              <td class="text-danger"><i class="fa fa-warning"></i>
                Unkwnown host detected</td>
            </tr>
          </tbody>
        </table>
      </dd>
    </dl>
    <!-- END TIMELINE -->
    {% else %}
    {% if section == 'networks' %}
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span><i class="fa fa-wifi"></i></span>
            <strong>Network name</strong>
          </div>
          <div class="panel-body">
            <h5><strong>General</strong></h5>
            <table class="table">
              <tbody>
                <tr>
                  <td>Interface</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Hardware Address</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Speed</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Security</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <h5><strong>IPv4</strong></h5>
            <table class="table">
              <tbody>
                <tr>
                  <td>Address</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Subnet Mask</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Default Route</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Primary DNS</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Secondary DNS</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      {% else %}
      {% if section == 'alerts' %}
      {% endif %}
      {% endif %}
      {% endif %}
    </div>
  </div>

  {% endblock %}
