{% extends "base.html" %}
{% import  "bootstrap/wtf.html" as wtf %}

{% block nexttoicon %}Netpicket - <small>{{current_user.email}}</small>{% endblock %}

{% block page_content %}
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <ul class=flashes>
    {% for category, message in messages %}
    <div class="{{ category }}" role="alert">{{ message }}</div>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <ul class="nav nav-tabs">
    <li role="presentation"
        {% if section == 'timeline' %}
        class="active"
        {% endif %}
        >
      <a href="{{url_for('dashboard', section='timeline', id='default')}}"
         rel="tooltip" title="The latest events of your networks"
         data-placement="bottom">
        <span><i class="fa fa-clock-o"></i></span> Timeline</a>
    </li>
    <li role="presentation"
        {% if section == 'alerts' %}
        class="active"
        {% endif %}
        >
      <a href="{{url_for('dashboard', section='alerts', id='default')}}"
         rel="tooltip" title="Latest CVEs"
         data-placement="bottom">
        <span><i class="fa fa-exclamation-circle"></i></span>
        CVE Alerts</a>
    </li>
    <li role="presentation"
        {% if section == 'networks' %}
        class="active"
        {% endif %}
        >
      <a href="{{url_for('dashboard', section='networks', id='default')}}"
         rel="tooltip" title="Handle your networks"
         data-placement="bottom">
        <span><i class="fa fa-wifi"></i></span> My networks
      </a>
    </li>
    <li role="presentation"
        {% if section == 'wblists' %}
        class="active"
        {% endif %}
        >
      <a href="{{url_for('dashboard', section='wblists', id='default')}}"
         rel="tooltip" title="Manage access control lists"
         data-placement="bottom">
        <span><i class="fa fa-file"></i></span> White/Black lists
      </a>
    </li>
    <li role="presentation"
        {% if section == 'scans' %}
        class="active"
        {% endif %}
        >
      <a href="{{url_for('dashboard', section='scans', id='default')}}"
         data-placement="bottom" rel="tooltip"
         title="Manage network scans">
        <span><i class="fa fa-flash"></i></span> Scans
      </a>
    </li>
    <li role="presentation"
        {% if section == 'stats' %}
        class="active"
        {% endif %}
        >
      <a href="{{url_for('dashboard', section='stats', id='default')}}"
         data-placement="bottom" rel="tooltip"
         title="Statistics!">
        <span><i class="fa fa-bar-chart"></i></span> Stats
      </a>
    </li>
  </ul>
  <!-- end menu -->

  
  <div class="col-md-12 col-sm-12 col-xs-12">
    {% if section == 'timeline' %}
    <!-- TIMELINE -->
    {% if events.keys()|length == 0 %}
    <br>
    <div class="alert alert-info" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Hey! You don't have events</span>
      <strong>No activity! </strong>
      We haven't registered any activity.
    </div>
    {% else %}
    <div class="simple-center">
      Jump to:
      <ul class="list-inline">
        {% for date in events.keys()|sort(reverse=True) %}
        <li><a href="{{'#' ~ date}}">{{events[date][0]['day']}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <h4><small><strong>Latest update: </strong>
        <strong id="updated-ago">{{events[lastkey][0]['day']
          ~ ' ' ~ events[lastkey][0]['time']}}</strong>
    </small></h4>
    <br>
    <dl class="dl-horizontal" id="timeline-updates">
      {% if events.keys()|length != 0 %}
      {% for date in events.keys()|sort(reverse=True) %}
      <dt id="{{date}}">{{events[date][0]['day']}}</dt>
      <dd id="{{date ~ '-dd'}}">
        <table class="table">
          <tbody id="{{date ~ '-table'}}">
            {% for even in events[date] %}
            <tr>
              <td>{{even['time']}}</td>
              {% if even['priority'] == 'G' %}
              <td class="text-success"><i class="fa fa-smile-o"></i>
                {% elif even['priority'] == 'O' %}
              <td class="text-warning"><i class="fa fa-exclamation-circle"></i>
                {% elif even['priority'] == 'R' %}
              <td class="text-danger"><i class="fa fa-warning"></i>
                {% else %} <!-- B and default -->
              <td class="text-info"><i class="fa fa-info-circle"></i>
                {% endif %}
                {{even['desc']}}
              </td>
              <td><a href="{{url_for('dashboard',
                           section='networks',
                           id='default')}}#net-{{even['net'][0]}}">{{even['net'][1]}}</a></td>
            </tr>
            {% endfor %}
          <tbody>
        </table>
      </dd>
      {% endfor %}
      {% endif %}
    </dl>
    {% endif %}
    <!-- END TIMELINE -->
    <!-- NETWORKS -->
    {% elif section == 'networks' %}
    <br>
    {% if neterrors %}
    <div class="col-md-12">
      <div id="neterrors" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign"
              aria-hidden="true"></span>
        <span class="sr-only">Invalid or empty fields on form.</span>
        <strong>Hey!</strong>
        Invalid or empty fields on form.
      </div>
    </div>
    {% endif %}  
    <div class="col-md-10">
      <h3>My networks</h3>
    </div>
    <div class="col-md-2">
      <button id="button-add-net"
              type="button" class="button-icon-collapse btn btn-primary"
              data-toggle="collapse"
              data-target="#collapse-add-net" aria-expanded="false"
              aria-controls="collapse-add-net">
        <span id="icon-collapse-pa" class="fa fa-plus-square"
              aria-hidden="true"></span> Add network
      </button>
    </div>
    <br>
    <!-- collapse add net-->
    <div class="collapse col-md-8" id="collapse-add-net">
      <br>
      <div class="well">
        <h4><i class="fa fa-wifi"></i> New network</h4>
        {{wtf.quick_form(faddnet)}}
      </div>
    </div>
    <!-- end  add net-->
    <br>
    <div id="display-no-nets" class="col-md-12" style="display: none">
      <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign"
              aria-hidden="true"></span>
        <span class="sr-only">Hey! You don't have networks</span>
        <strong>Hey!</strong>
        You don't have networks, please add one.
      </div>
    </div>
    {% if not nets or nets|length == 0 %}
    <div class="col-md-12">
      <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign"
              aria-hidden="true"></span>
        <span class="sr-only">Hey! You don't have networks</span>
        <strong>Hey!</strong>
        You don't have networks, please add one.
      </div>
    </div>
    {% else %}
    <br>
    <div class="col-md-12 col-sm-12 col-xs-12" id="div-accordion-hosts">
      <div class="panel-group" id="accordion-nets" role="tablist"
           aria-multiselectable="true">
        {% for net in nets|sort(attribute='name') %}
        <div class="panel panel-default" id="{{'net-'~net['id']}}">
          <div class="panel-heading" role="tab" id="{{'net-'~net['id']~'tab'}}">
            <h4 class="panel-title">
              <a role="button" class="collapsed" data-toggle="collapse"
                 data-parent="#accordion" href="{{'#collapse-net-'~net['id']}}"
                 aria-expanded="false"
                 aria-controls="{{'collapse-net-'~net['id']}}">
                <span><i class="fa fa-wifi"></i></span> {{net['name']}}
              </a>
            </h4>
          </div>
          <div id="{{'collapse-net-'~net['id']}}" class="panel-collapse collapse"
               role="tabpanel" aria-labelledby="{{'net-'~net['id']~'tab'}}">
            <div class="panel-body">
              <h5><strong>General</strong></h5>
              <table class="table">
                <tbody>
                  <tr>
                    <td>Interface</td>
                    <td>Hardware Address</td>
                    <td>Speed</td>
                    <td>Security</td>
                  </tr>
                  <tr>
                    <td>{{net['interface']}}</td>
                    <td>{{net['hard-address']}}</td>
                    <td>{{net['speed']}}</td>
                    <td>{{net['security']}}</td>
                  </tr>
                </tbody>
              </table>
              <hr>
              <h5><strong>Buoy IPv4 info</strong></h5>
              <table class="table">
                <tbody>
                  <tr>
                    <td>Address</td>
                    <td>Subnet Mask</td>
                    <td>Default Route</td>
                    <td>Primary DNS</td>
                    <td>Secondary DNS</td>
                  </tr>
                  <tr>
                    <td>{{net['address']}}</td>
                    <td>{{net['subnet-mask']}}</td>
                    <td>{{net['default-route']}}</td>
                    <td>{{net['dns-1']}}</td>
                    {% if net['dns-2']|length == 0 %}
                    <td>-</td>
                    {% else %}<td>{{net['dns-2']}}</td>{% endif %}
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="panel-footer">
              <div class="pull-right">
                <button class="btn btn-warning"
                        type="button"
                        onclick="deleteNetwork('{{net['id']}}');">
                  <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
                <!-- <button class="btn btn-default"
                        type="button">
                  <span class="glyphicon glyphicon-repeat"></span> Rescan
                </button>-->
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <br>
    </div>
    {% endif %}
    <!-- END NETWORKS -->
    <!-- ALERTS -->
    {% elif section == 'alerts' %}
    <br>
    {% if hosterrors or hostediterrors %}
    <div class="col-md-12">
      <div
         {% if hosterrors %}
         id="hosterrors"
         {% else %}
         id="hostediterrors" data-host-error="{{hosterror}}"
         {% endif %}
         class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign"
              aria-hidden="true"></span>
        <span class="sr-only">Invalid or empty fields on form.</span>
        <strong>Hey!</strong>
        Invalid or empty fields on form.
      </div>
    </div>
    {% endif %} 
    <div class="col-md-10">
      <h3>Hosts' status</h3>
    </div>
    <div class="col-md-2">
      <button id="button-add-host"
              type="button" class="button-icon-collapse btn btn-primary"
              data-toggle="collapse"
              data-target="#collapse-add-host" aria-expanded="false"
              aria-controls="collapse-add-host">
        <span id="icon-collapse-pa" class="fa fa-plus-square"
              aria-hidden="true"></span> Monitor new
      </button>
    </div>
    <br>
    <!-- collapse add net-->
    <div class="collapse col-md-8" id="collapse-add-host">
      <br>
      <div class="well">
        <h4><i class="fa fa-laptop"></i> New host</h4>
        {{wtf.quick_form(faddhost)}}
      </div>
    </div>
    <!-- end  add net-->
    <div class="col-md-12" id="display-no-hosts" style="display: none">
      <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign"
              aria-hidden="true"></span>
        <span class="sr-only"></span><strong>Ups! </strong>
        You aren't monitoring vulnerabilities from any host. Please add one.
      </div>
    </div>
    {% if hosts is none or hosts|length == 0 %}
    <div class="col-md-12">
      <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign"
              aria-hidden="true"></span>
        <span class="sr-only"></span><strong>Ups! </strong>
        You aren't monitoring vulnerabilities from any host. Please add one.
      </div>
    </div>
    {% else %}
    <!-- end if no hosts -->
    {% for host in hosts %}
    <!-- modal to edit host -->
    <div class="modal fade" id="{{'mod-edit-host-'~host['id']}}"
         tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title"><i class="fa fa-laptop"></i> Edit host</h4>
          </div>
          <form class="form" role="form" method="post"
                action="{{url_for('manage_host', hid=host['id'])}}">
            <div class="modal-body">
              <div
                 {% if hostediterrors and hostediterrors['name'] %}
                 class="form-group has-error"
                 {% else %} class="form-group" {% endif %}
                 >
                <label class="control-label" for="edit-host-f-name">Host name</label>
                <input id="edit-host-f-name" class="form-control" type="text"
                       name="edit-host-f-name" value="{{host['name']}}"></input>
                {% if hostediterrors and hostediterrors['name'] %}
                <p class="help-block">From 1 to 30 characters<p>
                  {% else %}<p class="help-block">Display name.</p>{% endif %}
              </div>
              <div
                 {% if hostediterrors and hostediterrors['services'] %}
                 class="form-group has-error"
                 {% else %} class="form-group" {% endif %}
                 >
                <label class="control-label"
                       for="edit-host-f-services">Services to monitor</label>
                <input class="form-control" id="edit-host-f-services"
                       name="edit-host-f-services"
                       value="{{', '.join(host['services'])}}"
                       type="text"></input>
                {% if hostediterrors and hostediterrors['services'] %}
                <p class="help-block">Max 300 characters.</p>
                {% else %}
                <p class="help-block">Comma separated values.
                  Please choose meaningful names like 'Firefox' and 'Nginx'.</p>
                {% endif %}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default"
                      data-dismiss="modal">Close</button>
              <input id="edit-host-f-submit" type="submit"
                     class="btn btn-primary" value="Save changes"></input>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
    <!-- end modal to edit host -->
    <div id="div-table-hosts" class="col-md-12">
      <div class="table-responsive">
        <table id="table-hosts" class="table table-hover">
          <thead>
            <tr>
              <td><strong>Host</strong></td>
              <td><strong>Services</strong></td>
              <td><strong>Status</strong></td>
              <td><strong>Known CVEs</strong></td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            {% for host in hosts|sort(attribute='name') %}
            <tr id="{{'host-'~host['id']}}">
              <td>{{host['name']}}</td>
              <td>
                <table>
                  <tbody>
                    {% for serv in host['services'] %}
                    <tr><td>{{serv}}</td></tr>
                    {% endfor %}
                  </tbody>
                </table>
              <td>
                <table>
                  <tbody>
                    {% for serv in host['services'] %}
                    {% if vulns is none %}
                    <tr><td class="text-success"><i class="fa fa-shield"></i></td></tr>
                    {% else %}
                    {% if vulns[serv] %}
                    <tr><td class="text-danger"><i class="fa fa-warning"></i></td></tr>
                    {% else %}
                    <tr><td class="text-success"><i class="fa fa-shield"></i></td></tr>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </td>
              {% if vulns is none %}
              <td>-</td>
              {% else %}
              <td>
                <table>
                  <tbody>
                    {% for serv in host['services'] %}
                    {% if vulns[serv] %}
                    <tr><td>
                        {% for cvevul in vulns[serv] %}
                        <a href="{{'#'~cvevul}}">{{cvevul}}</a>
                        {% endfor %}
                    </td></tr>
                    {% else %}<tr><td>-</td></tr>{% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              <td>
                {% endif %}
              <td>
                <button id="{{'button-edit-host-'~host['id']}}"
                        class="btn btn-default btn-sm" type="button"
                        data-toggle="modal"
                        data-target="{{'#mod-edit-host-'~host['id']}}">
                  <span class="fa fa-edit"></span> Edit</button>
                <button class="btn btn-warning btn-sm" type="button"
                        onclick="deleteHost('{{host['id']}}');">
                  <span class="fa fa-remove"></span> Delete</button></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
    <div class="col-md-12">
      <h3>Latest CVE details</h3>
    </div>
    {% if cves is none or cves|length == 0 %}
    <div class="col-md-12">
      <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only"></span><strong>Ups! </strong>
        We couldn't retrieve the latest CVEs, please try again later.
      </div>
    </div>
    {% else %}
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <td><strong>CVE ID</strong></td>
              <td><strong>CVSS score</strong></td>
              <td><strong>Summary</strong></td>
              <td><strong>Exploit count</strong></td>
              <td><strong>Publish date</strong></td>
              <td><strong>Update date</strong></td>
            </tr>
          </thead>
          <tbody>
            {% for cve in cves|sort(attribute='update_date', reverse=True) %}
            <tr id="{{cve['cve_id']}}"
                {% if cve['cvss_score']|float <= 3.9 %} class="success"
                                                 {% elif cve['cvss_score']|float <= 6.9 %} class="warning"
                                                                                    {% else %} class="danger" {% endif %}>
                                                 <td><strong><a target="_blank"
                                                                href="{{cve['url']}}">{{cve['cve_id']}}</a></strong>
                                                 </td>
                                                 <td>{{cve['cvss_score']}}</td>
                                                 <td>{{cve['summary']}}</td>
                                                 <td>{{cve['exploit_count']}}</td>
                                                 <td>{{cve['publish_date']}}</td>
                                                 <td>{{cve['update_date']}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
{% endif %}
<!-- --->
{% elif section == 'wblists' %}
<br>
{% if entryerrors %}
<div class="col-md-12">
  <div id="entryerrors" class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Invalid or empty fields on form.</span><strong>Hey!</strong>
    Invalid or empty fields on form.
  </div>
</div>
{% endif %}
{% if inconsistent %}
<div class="col-md-12">
  <div id="inconsistent"class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign"
          aria-hidden="true"></span>
    <span class="sr-only">You need to add a network</span>
    <strong>Error!</strong>
    This entry is inconsistent with the previous rules. Please revise it.
  </div>
</div>
{% endif %}
<div class="col-md-10">
  <h3>My white &amp; black lists</h3>
</div>
<div class="col-md-2">
  <button id="button-add-entry"
          type="button" class="button-icon-collapse btn btn-primary"
          data-toggle="collapse"
          data-target="#collapse-add-entry" aria-expanded="false"
          aria-controls="collapse-add-entry">
    <span id="icon-collapse-pa" class="fa fa-plus-square"
          aria-hidden="true"></span> New list entry
  </button> 
</div>
<br>
<!-- collapse add entry-->
<div class="collapse col-md-8" id="collapse-add-entry">
  <br>
  {% if canacl %}
  <div class="well clearfix">
    <h4><i class="fa fa-list"></i> Add entry</h4>
    <form class="form" role="form" method="post">
      {{wtf.form_field(faddentry.mac)}}
      <div class="form-group">
        <label class="control-label" for="add-entry-f-networks">
          Select the list type
        </label>
        {{faddentry.type(class_="form-control selectpicker")}}
      </div>
      <div {% if entryneterror %}
           class="form-group has-error" {% else %}
           class="form-group" {% endif %}>
        <label for="add-entry-f-networks"
               {% if entryneterror %}
               class="control-label text-danger"
               {% else %}
               class="control-label"
               {% endif %}
               >
          Select one or more networks
        </label>
        {{faddentry.networks(class_="form-control selectpicker")}}
      </div>
      {{faddentry.submit(class_="btn btn-default ")}}
    </form>
  </div>
  {% else %}
  <div class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">You need to add a network</span><strong>Hold on!</strong>
    You need to
    <a href="{{url_for('dashboard', section='networks',
             id='default')}}">add a network</a> before creating an W/B list entry.
  </div>
  {% endif %}
</div>
<!-- end  add entry-->

<!-- white list -->
<div class="col-md-12" id="display-no-w-list" style="display: none">
  <div class="alert alert-info" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Hey! You don't have white lists</span>
    <strong>Empty! </strong>
    Your white list is empty, please add an entry.
  </div>
</div>

{% if acls is none or acls.keys()|length == 0 or acls['W']|length == 0 %}
<div class="col-md-12">
  <div class="alert alert-info" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Hey! You don't have white lists</span>
    <strong>Empty! </strong>
    Your white list is empty, please add an entry.
  </div>
</div>
{% else %}
<div class="col-md-12" id="div-table-w">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span><i class="fa fa-file-text-o"></i></span>
      <strong>White list</strong>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table id="table-w-list" class="table table-hover">
          <thead>
            <tr>
              <td><strong>Hostname</strong></td>
              <td><strong>MAC</strong></td>
              <td><strong>Address</strong></td>
              <td><strong>Network/s</strong></td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            {% if acls['W']|length == 0 %}
            <td>-</td><td>-</td><td>-</td><td>-</td><td>-</td>
            {% else %}
            {% for entry in acls['W']|sort(attribute='host') %}
            <tr id="{{'entry-'~entry['id']}}">
              <td>{{entry['host'] if entry['host'] is not none and entry['host']|length > 0 else '-'}}</td>
                <td>{{entry['mac']|upper}}</td>
                {% if entry['address'] is none or entry['address']|length == 0 %}
<td>-</td>{% else %}<td>{{entry['address']}}</td>{% endif %}
<td><ul class="list-inline">
    {% for id, name in entry['nets'] %} 
    <li><a href="{{url_for('dashboard',
                 section='networks', id='default')}}#net-{{id}}">
        {{name}}</a></li>
    {% endfor %}
</ul></td>
<td><button class="btn btn-warning btn-sm" type="button"
            onclick="deleteEntry({{entry['id']}});">
    <span class="fa fa-remove"></span> Delete entry
</button></td>
</tr>
{% endfor %}
{% endif %}
</tbody>
</table>
</div>
</div>
</div><!-- default -->
</div><!-- col-md- 12 -->
{% endif %}
<!-- end white list -->
<!-- black list -->
<div class="col-md-12" id="display-no-b-list" style="display: none">
  <div class="alert alert-info" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Hey! You don't have black lists</span>
    <strong>Empty!</strong>
    Your black list is empty, please add an entry.
  </div>
</div>
{% if acls is none or acls.keys()|length == 0 or acls['B']|length == 0 %}
<div class="col-md-12">
  <div class="alert alert-info" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Hey! You don't have black lists</span>
    <strong>Empty!</strong>
    Your black list is empty, please add an entry.
  </div>
</div>
{% else %}
<div class="col-md-12" id="div-table-b">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span><i class="fa fa-file-text"></i></span>
      <strong>Black list</strong>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table id="table-b-list" class="table table-hover">
          <thead>
            <tr>
              <td><strong>Hostname</strong></td>
              <td><strong>MAC</strong></td>
              <td><strong>Address</strong></td>
              <td><strong>Network/s</strong></td>
              <td></td>
          </thead>
          <tbody>
            {% if acls['B']|length == 0 %}
            <td>-</td><td>-</td><td>-</td><td>-</td><td>-</td>
            {% else %}
            {% for entry in acls['B']|sort(attribute='host') %}
            <tr id="{{'entry-'~entry['id']}}">
              <td>{{entry['host'] if entry['host'] is not none and entry['host']|length > 0 else '-'}}</td>
              <td>{{entry['mac']|upper}}</td>
              {% if entry['address'] is none or entry['address']|length == 0 %}
              <td>-</td>{% else %}<td>{{entry['address']}}</td>{% endif %}
              <td>
                  <ul class="list-inline">
                    {% for id, name in entry['nets'] %} 
                    <li><a href="{{url_for('dashboard',
                                 section='networks', id='default')}}#net-{{id}}">
                        {{name}}
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
              </td>
              <td><button class="btn btn-warning btn-sm" type="button"
                          onclick="deleteEntry({{entry['id']}})">
                  <span class="fa fa-remove"></span> Delete entry
                </button>
              </td>
            </tr>
            {% endfor %}
            {% endif %}
          </tbody>
</table>
</div>
</div>
</div><!-- default -->
</div><!-- col-md- 12 -->
{% endif %}
<!-- end black list -->
{% elif section == 'scans' %}
<br>
<div class="col-md-12">
  <h3>Scans</h3>
</div>
{% if not can_manage %}
<div class="col-md-12">
  <div class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">You need to add a network</span><strong>Hold on!</strong>
    You need to
    <a href="{{url_for('dashboard', section='networks',
             id='default')}}">add a network</a> before managing scans.
  </div>
</div>
{% else %}
<div class="col-md-12 col-sm-12 col-xs-12">
  {% for buo in net_buoys|sort(attribute='netname') %}
  <div class="panel panel-default" id="{{'buoy-'~buo['id']}}">
    <div class="panel-heading">
      <span><i class="fa fa-cube"></i></span>
      <strong>{{buo['netname']}}</strong>
      {% if buo['status'] == 'active' %}
      <span class="pull-right text-success"><strong>Active</strong></span>
      {% elif buo['status'] == 'stopped' %}
      <span class="pull-right text-danger"><strong>Stopped</strong></span>
      {% elif buo['status'] == 'not-deployed' %}
      <span class="pull-right text-info"><strong>Not deployed</strong></span>
      {% else %}
      <span class="pull-right text-muted"><strong>Unknown</strong></span>
      {% endif %}
    </div>
    <div class="panel-body">
      {% if buo['status'] in ['active', 'stopped'] %}
      {% if buo['status'] == 'active' %}
      <p><strong>Last scan: </strong>
        {% if buo['lastscan'] and buo['lastscan']|length != 0 %}
        {{buo['lastscan']}}{% else %}Not available.{% endif %}
      </p>
      <p><strong>Buoys IP: </strong>
        {% if buo['host'] and buo['host']|length != 0 %}
        {{buo['host']}}{% else %}Not available.{% endif %}
      </p>
      {% endif %}
      <div>
        <p><a id="{{'show-key-'~buo['id']}}" data-toggle="collapse"
              href="{{'#coll-key-'~buo['id']}}" aria-expanded="false"
              aria-controls="{{'coll-key-'~buo['id']}}"
              onclick="changeIcon('{{'#icon-collapse-'~buo['id']}}',
                       'fa-plus-square', 'fa-minus-square');">
            <i id="{{'icon-collapse-'~buo['id']}}"
               class="fa fa-plus-square"></i> API key management
        </a></p>
      </div>
      <!-- info about api key -->
      <div class="collapse" id="{{'coll-key-'~buo['id']}}">
        <p><strong>API generated at: </strong>{{buo['generated']}}</strong></p>
        <p>This API key is for private use,
          <strong>do not share the key.</strong>
        </p>
        <div class="well well-sm"><code>{{buo['key']}}</code></div>
        <p>{{buo['netname']}}'s ID is:</p>
        <div class="well well-sm"><code>{{buo['netid']}}</code></div>
        {% if buo['status'] == 'active' %}
        <div class="pull-right"><p>To delete the API key first to stop the buoy.</p>
        </div>
        {% elif buo['status'] == 'stopped' %}
        <div>
          <button class="btn btn-danger btn-sm" type="button"
                  onclick="deleteAPIKey({{buo['id']}});">
            <i class="fa fa-remove"></i> Delete key</button>
          <div class="clearfix"></div>
        </div>
        <p>
          <small>-If you delete the key the buoy's status will change to
            <span class="text-info">'Not deployed'.</span></small>
          <br>
          <small>-You can always generate another key later.</small>
        </p>
        {% endif %}
      </div>
      <!-- end info about api key -->
      {% elif buo['status'] == 'not-deployed' %}
      <p>To use this buoy first generate an API key.</p>
      <button class="btn btn-primary btn-sm" type="button"
              onclick="generateAPIKey({{buo['id']}});">
        <i class="fa fa-key"></i> Generate API key</button>
      <p>
        <small>-After generating the key you can deploy and launch the buoy.
        </small>
        <br>
        <small>-When you generate the key the buoy's status will change to
          <span class="text-danger">'Stopped'.</span></small>
      </p>
      {% endif %}
      {% if buo['status'] == 'stopped' %}
      <div>
        <p><a id="{{'show-key-'~buo['id']}}" data-toggle="collapse"
              href="{{'#coll-setup-'~buo['id']}}" aria-expanded="false"
              aria-controls="{{'coll-setup-'~buo['id']}}"
              onclick="changeIcon('{{'#icon-setup-'~buo['id']}}',
                       'fa-plus-square', 'fa-minus-square');">
            <i id="{{'icon-setup-'~buo['id']}}"
               class="fa fa-plus-square"></i> How to setup the buoy
        </a></p>
      </div>
      <div class="collapse" id="{{'coll-setup-'~buo['id']}}">
        <ol>
          <li>Copy <code>netscanner.py</code> and <code>requirements.txt</code>
            to your buoy.</li>
          <li>Install the dependencies:<br>
            <code># pip install -r requirements.txt</code><br>
            <small>Please note that this operation needs admin priviledges.</small>
          </li>
          <li>Start the buoy:<br>
            <code># python netscanner.py &lt;API_KEY&gt; &lt;network_to_scan&gt;</code><br>
            <small>Please note that this
              operation needs admin priviledges.</small>
            </li>
        </ol>
        <p>Now you can
          <strong class="text-success">hit the 'Launch' button!</strong></p>
      </div>
      {% endif %}
    </div><!-- panel body -->
    <div class="panel-footer">
      <div class="pull-right">
        {% if buo['status'] == 'active' %}
        <button class="btn btn-warning btn-sm" type="button"
                onclick="stopBuoy({{buo['id']}});">
          <i class="fa fa-hand-stop-o"></i> Stop buoy</button>
        {% elif buo['status'] == 'stopped' %}
        <button class="btn btn-success btn-sm" type="button"
                onclick="launchBuoy({{buo['id']}});"
          <i class="fa fa-flash"></i> Launch buoy</button>
        {% endif %}
      </div>
      <div class="clearfix"></div>
    </div>
  </div><!-- panel -->
  {% endfor %}
</div>
{% endif %}
{% elif section == 'stats' %}
<br>
<div class="col-md-12">
  <h3>Weekly statistics</h3>
</div>
<div class="col-md-6">
  <h4>Events by type</h4>
  <div id="ned-comp" class="alert alert-info" role="alert"
       style="display: none">
    <strong>Ups!</strong> We haven't events to show the type distribution.
  </div>
  <div id="loading-tweek">
    <i class="fa fa-2x fa-spinner fa-pulse"></i>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <canvas id="can-tweek" width="250" height="250"></canvas>
  </div> 
  <div class="col-md-6 col-sm-6 col-xs-12 chart-legend" id="tweek-legend">
  </div>
   
</div>
<div class="col-md-6">
  <h4>Events by network</h4>
  <div id="ned-comp" class="alert alert-info" role="alert"
       style="display: none">
    <strong>Ups!</strong> We haven't events to show the distribution.
  </div>
  <div id="loading-nweek">
    <i class="fa fa-2x fa-spinner fa-pulse"></i>
  </div>
   <div class="col-md-6 col-sm-6 col-xs-12">
    <canvas id="can-nweek" width="250" height="250"></canvas>
  </div> 
  <div class="col-md-6 col-sm-6 col-xs-12 chart-legend" id="nweek-legend">
  </div> 
</div>
<div class="col-md-12">
  <h3>Daily statistics</h3>
</div>
<div class="col-md-6">
  <h4>Event types by day - Bar chart</h4>
  <div id="ned-comp" class="alert alert-info" role="alert"
       style="display: none">
    <strong>Ups!</strong> We haven't events to show the distribution.
  </div>
  <div id="loading-tday-bar">
    <i class="fa fa-2x fa-spinner fa-pulse"></i>
  </div>
  <div class="col-md-12">
    <canvas id="can-tday-bar" width="425" height="250"></canvas>
  </div>  
</div>
<div class="col-md-6">
  <h4>Event types by day - Line chart</h4>
  <div id="ned-comp" class="alert alert-info" role="alert"
       style="display: none">
    <strong>Ups!</strong> We haven't events to show the distribution.
  </div>
  <div id="loading-tday-line">
    <i class="fa fa-2x fa-spinner fa-pulse"></i>
  </div>
  <div class="col-md-12">
    <canvas id="can-tday-line" width="425" height="250"></canvas>
  </div>  
</div>
<div class="col-md-12">
  <h4>Events by network</h4>
  <div id="ned-comp" class="alert alert-info" role="alert"
       style="display: none">
    <strong>Ups!</strong> We haven't events to show the distribution.
  </div>
  <div id="loading-nday">
    <i class="fa fa-2x fa-spinner fa-pulse"></i>
  </div>
  <div class="col-md-12">
    <canvas id="can-nday" width="850" height="250"></canvas>
  </div>  
</div>
{% endif %}
</div>
</div>
{% endblock %}
