/* --- Centering --- */
.doc-center {
    padding: 50px 0;
    padding-top: 50px;
    padding-right-value: 0px;
    padding-bottom: 50px;
    padding-left-value: 0px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
    position: relative;
    text-align: center;
}
/* --- Input center  --- */
.input-center {
    margin: 0 auto;
}
/* --- Img center --- */
img.center {
    display: block;
    margin: 0 auto;
}
/* --- Footer --- */
.doc-footer {
    border-top: 1px solid #ecf0f1;
    padding: 50px 0;
    padding-top: 50px;
    padding-right-value: 0px;
    padding-bottom: 50px;
    padding-left-value: 0px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
    position: relative;
    text-align: center;
}
.doc-footer p {
    margin-bottom: 15px;
}
.doc-footer ul {
    list-style: none;
}
.doc-footer li {
    display: inline-block;
    padding: 0 2px;
}
.doc-footer .btn {
    background: #3498db;
    color: #fff;
    font-size: 20px;
    margin: 5px 15px;
}
.doc-footer .btn:hover {
    color: #fff;
}
/* --- Button colors --- */
.btn-net-dark {
    color: #fff;
    background-color: #0C7367; /* reference */
    border-color: #0a5c52; /* monochromatic 3*/
}
.btn-net-dark:focus,
.btn-net-dark.focus {
    color: #fff;
    background-color: #0d8476; /* monochromatic 2 */
    border-color: #00302A; /* reference in rgb, -> value % 2 - 9*/
}
.btn-net-dark:hover {
  color: #fff;
  background-color: #0d8476; /* monochromatic 2*/
  border-color: #0C7367; /* reference in rgb-> r - 35, g - 52, b - 35*/
}

.btn-net-normal {
    color: #fff;
    background-color: #099686; /* reference! */
    border-color: #087e71; 
}
.btn-net-light {
    color: #fff;
    background-color: #12B2A0;
    border-color: #109b8b;
}
/* --- Active  --- */
.net-active {
    color: #fff;
    background-color: #0C7367; /* reference */
    border-color: #0a5c52;
    
}
/* --- Label as badge --- */
.label-as-badge {
    border-radius: 1em;
}

h1, h2, h3, h4, h5, h6, p, div {
    font-family: 'Open Sans', sans-serif;
}